.flex-container {
  /* Frame 40 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 300px;
  gap: 385px;

  position: absolute;
  width: 1920px;
  height: 96px;
  left: 0px;
  top: 0px;

  /* Gray/White */

  background: #ffffff;
}
.right {
  /* Frame 4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 94px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* Frame 39 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 722px;
  height: 48px;

  text-decoration: none; /* Скасовуємо підкреслення у посилань */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.left {
  /* Frame 12 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
  gap: 10px;

  width: 56px;
  height: 56px;

  /* Primary/500 */

  /*background: #a53dff;
  border-radius: 1000px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* Logo */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 208px;
  height: 56px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.B {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
  gap: 10px;

  width: 56px;
  height: 56px;

  /* Primary/500 */

  background: #a53dff;
  border-radius: 1000px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* B */

  width: 16px;
  height: 56px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 56px;
  /* identical to box height, or 233% */

  /* Gray/White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.Brooklyn {
  /* Brooklyn */

  width: 140px;
  height: 40px;

  /* Heading/03 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 125% */

  /* Gray/900 */

  color: #132238;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.button {
  /* Button */
  width: 63px;
  height: 24px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;
  font-size: 15px;
  width: 111px;
  height: 48px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 0ch;

  /* Primary/500 */

  background: #a53dff;
  border-radius: 4px;
  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-4 {
  /* Frame 4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 94px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* Home */

  width: 46px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-5 {
  /* Frame 5 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 95px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  /* About */

  width: 47px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-6 {
  /* Frame 7 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 110px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  /* Process */

  width: 62px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-7 {
  /* Frame 8 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 116px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  /* Portfolio */

  width: 68px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-8 {
  /* Frame 9 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 82px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  /* Blog */

  width: 34px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame-9 {
  /* Frame 6 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 114px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  flex-grow: 0;
  /* Services */

  width: 66px;
  height: 24px;

  /* Body/Regular/500 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #333333;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.decoration div a {
  color: #333333;
  text-decoration: none; /* Скасовуємо підкреслення у посилань */
}
